body
{
    background-color: rgb(255, 249, 240);
}
.content
{
    margin: 5%;
    padding-top: 100px;
    width: 70%;
}
#menu
{
    padding: 0px 0;
    margin: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(66, 34, 9);
    color: white;
    position: fixed;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 15px;
    z-index: 1;
    top: 0;
    left: 0;
}
#menu a
{
    font-size: 20px;
    position:fixed;
    color: rgb(255, 248, 241);
} 
#menu a:link {
    color: white;
    text-decoration: none;
}

.a
{
    font-size: 30px;
    margin-top:-150px;
}

#a p{
    margin-top:-40px;
}


.texto
{
    width: 250px;
    margin-left: 20px;
    font-size: 17px;
}


.prato
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.secao
{
    margin-bottom: 30px;
    height: auto;
}

#c
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px black solid;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 90px;
}
a :link
{
    color: rgb(34, 18, 8);
    text-decoration: none;
}
#titulo
{
    font-size: 50px;
    margin-left: 40px;
    margin-top: -50px;
}
#menucomida a :link
{
    margin-left:50px;
    color: rgb(34, 18, 8);
    text-decoration: none;
}
#texto
{
    font-size: 20px;
    width: 70%;
}
.rodape
{
    background-color: rgb(150, 90, 65);
    padding:20px 0;
    padding-left: 40px;
    font-size: 20px;
    padding-bottom: 50px;
    margin-left: -10px;
    margin-bottom: -20px;
    margin-right: -12px;
}

.rodape a :link
{
    color: white;
}
.rodape a 
{
    color: rgb(252, 235, 207);
    text-decoration: none;
}
.rodape a :hover
{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.rodape li
{
    color:rgb(252, 235, 207);
}

#menuBaixo
{
    position: fixed;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(66, 34, 9);
    color: white;
    height: 40px;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 20px;
}
#menuBaixo a:link {
    color: white;
    text-decoration: none;
}

#menuBaixo a
{
    font-size: 20px;
    color: rgb(255, 248, 241);
} 

form input, form textarea, form select
{
    background-color: rgb(255, 249, 240);
    border-radius: 5px;;
}

form input :focus, form textarea :focus
{
    background-color: rgb(255, 255, 255);
}

form input[type="text"] :hover, form textarea :hover, input[type="submit"]:hover
{
    background-color: bisque;
}


